.hidden {
    display: none;
}

/* ===============general=========== */

body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
    box-sizing: border-box;
  } 
  
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  ul,ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  button {
    cursor: pointer;
  }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  /* ===============common============= */

  .container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
  }

  @media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
      }  
  }

  @media screen and (min-width: 1158px) {
    .container {      
        max-width: 1158px;
        padding: 0 15px;
        margin: 0 auto;
      }
  }

  /* ============header========== */

  .header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    }

    .header-container {
        /* max-width: 320px; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 121px;

    }

    .nav-list, .address {
        display: none;
    }

    .logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        line-height: 1.17;
        color: #4d5ae5;
    }
    
    .header-logo {
        padding: 16px 0;
        display: block;
      }

      .logo-web {
        color: #2e2f42;
      }

      .burger-btn {
        padding: 0;
        border: none;
        background-color: transparent;
        fill: #2f2f37;
      }

      @media screen and (min-width: 768px) {
        .burger-btn {
          display: none;
          }

          .nav-list {
            display: flex;
            align-items: center;
            gap: 40px;
          }

          .header-logo {
            padding: 24px 0;
            margin-right: 120px;
          }

          .nav-menu {
            display: block;
            padding: 24px 0;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: inherit;
            position: relative;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
          }
          
          .nav-menu.current {
            position: relative;
          }
          
          .nav-menu.current::after {
            content: "";
            position: absolute;
            background-color: #404bbf;
            height: 4px;
            width: 100%;
            bottom: -1px;
            border-radius: 2px;
            left: 0;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
          }

          .address {
            font-style: normal;
            display: block;
          }

          
          .address-wrapper {
            display: flex;
            flex-direction: column;
            gap: 12px;
          }

          .contacts:hover,
          .contacts:focus, 
          .nav-menu:hover,
          .nav-menu:focus,
          .nav-menu.current  {
            color: #404bbf;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
          }
          

          .nav-n {
            display: flex;
          }

          .contacts {
            font-weight: 400;
            display: block;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.04em;
            color: #434455;
            
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
          }

        } 

        @media screen and (min-width: 1158px) {
          .header-logo {
            margin-right: 76px;
          }

            .address-wrapper {
            flex-direction: row;
            align-items: center;
            gap: 40px;
          }

          .contacts {
            min-width: 151px;
            padding: 24px 0;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
           
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
          }
        }



        
            /* ===========mobile menu============ */

            .mobile-menu {
              position: fixed;
              top: 0;
              right: 0;
              width: 100%;
              height: 100%;
              background-color: #fff;

              opacity: 0;
              visibility: hidden;
              pointer-events: none;


              transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }

            .mobile-menu.is-open {
              opacity: 1;
              visibility: visible;
              pointer-events: auto;
            }

            .mobile-menu-container {
              position: relative;
              padding-top: 72px;
              padding-bottom: 40px;
              display: flex;
              flex-direction: column;
              height: 100%;
            }


            .mob-nav-n {
              margin-bottom: auto;
            }

            .mobile-menu-close {
              position: absolute;
              border-radius: 100%;
              top: 24px;
              right: 24px;
              background-color: #E7E9FC;
              outline: none;
              border: none;
            }

            .mob-nav-list {
              display: flex;
              flex-direction: column;
              row-gap: 40px;
            }
              

            .mob-nav-menu {
              font-weight: 700;
              font-size: 36px;
              line-height: 111%;
              letter-spacing: 0.02em;
              color: #2E2F42;
            }

                         

            .mob-menu-current {
              color: #404BBF;
            } 
            
            .mob-menu-contacts{
              color: #434455;
            }

            .mobile-address-wrapper {
                display: flex;
                flex-direction: column;
                row-gap: 24px;
            }

            .mobile-address {
              padding-bottom: 48px;
            }

            .smi-wrapper {
              width: 280px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              gap: 24px;
            }
          

              .social-media-icons {
                fill: #f4f4fd;
              }

            .smi-link {
              display: flex;
              width: 40px;
              height: 40px;
               justify-content: center;
              align-items: center;
              background-color: #4d5ae5;
              border-radius: 50%;
              transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }

            .smi-link:active {
            background-color: #404bbf;
            }


                @media screen and (min-width: 768px) {
                  .mobile-menu {
                    display: none;
                  }
                    }

            /* ===========hero=========== */
              
            .hero {
              /*    */
              background-color: #2e2f42;
              background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mobile.jpg);
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
              align-items: center;
              padding-top: 72px;
              padding-bottom: 72px;
              padding-left: 52px;
              padding-right: 52px;
              width: 100%;
              margin: 0 auto;
               }  
            
            
            .hero-title {
              font-size: 36px;
              font-weight: 700;
              line-height: 1.1;
              text-align: center;
              letter-spacing: 0.02em;
              color:  #ffffff;
            
              max-width: 216px;
              margin: 0 auto;
              text-align: center;
            }

            .button {
              display: block;
              background-color: #4D5AE5;


              font-weight: 500;
              font-size: 16px;
              line-height: 1.5;
              letter-spacing: 0.04em;


              color: #ffffff;
              border-radius: 4px;
              border: none;
              margin-right: auto;
              margin-left: auto;
              margin-top: 72px;
              padding: 16px 32px;
              min-width: 169px;
              height: 56px;
              transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }

            .button:active {
              background-color: #404BBF;
            }

            @media screen and (max-width: 767px) and (min-resolution: 192dpi) {
              .hero { background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mobile@2x.jpg);
            }
            }
            

            @media screen and (min-width: 768px) {
              .hero {
                max-width: 768px;
                
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tablet.jpg);
                padding-top: 112px;
                padding-bottom: 112px;
                padding-left: 136px;
                padding-right: 136px;
              }

              .hero-title {
                line-height: 1.07;
                min-width: 496px;
                font-size: 56px;
               
              }

              .button {
                margin-top: 36px;
              }
            }

              @media screen and (min-width: 768px) and (min-resolution: 192dpi) {
                .hero { background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tablet@2x.jpg);
              }
              }

              

            
            
            @media screen and (min-width:1158px) {
              .hero {
                max-width: 1440px;
                
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
              }
              padding-top: 188px;
                padding-bottom: 188px;
            }

            @media screen and (min-width:1158px) and (min-resolution: 192dpi) {
              .hero {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office@2x.jpg); 
              }
              
              .hero-title {
               
                text-align: center;
                letter-spacing: 0.02em;
                color:  #ffffff;
              
                max-width: 496px;
                margin: 0 auto;
              }
              
              .button {
                margin-top: 48px;
              }
              
              .button:hover, .button:focus {
                background-color: #404BBF;
              }

            }

  /* ==================modal form================ */

  .backdrop {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
   }

   .backdrop.is-open {
    pointer-events: auto;
    opacity: 1;
    visibility:visible;
    background-color: rgba(46, 47, 66, 0.4)
   }

   .modal {
    position: absolute;
    padding: 72px 16px 24px 16px;
    width: 288px;
    min-height: 584px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    background-color: #fcfcfc;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    
    }

    .modal-text {
      width: 256px;
      font-weight: 500;
      font-size: 16px; 
      line-height: 1.5; 
      letter-spacing: 0.02em;
      text-align: center;
      color: #2e2f42;
      margin-bottom: 16px;
    } 

    .modal-close-btn {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 24px;
      right: 24px;
      border: 1px solid rgba(0, 0, 0, 0.1); 
      background-color: #E7E9FC;
      padding: 0;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
      cursor: pointer;
      fill: #2E2F42;
    }

    .form-user-input {
      width: 100%;
      height: 40px;
      border: 1px solid rgba(46, 47, 66, 0.4);
      border-radius: 4px;
      padding-left: 38px;
      outline: transparent;
      background-color: transparent;
      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }

    .form-user-icon {
      fill: #2E2F42;
      position: absolute;
      top: 50%;
      left: 16px;
      transform: translateY(-50%);
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .form-user-input:focus + .form-user-icon {
      fill: #4D5AE5;
    }

    .form-user-positioner {
      position: relative;
    }

    .form-user-checkbox:checked+ .user-checkbox-label .custom-checkbox {
      background-color: #404bbf;;
      fill: #F4F4FD;
      border: none;
    }

    .icon-close {
      stroke: #2E2F42;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    } 

    .form-wrapper-box {
      margin-bottom: 8px;
    }

    .form-wrapper-box-comment {
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;
    }

    .form-user-label {
      display: flex;
      align-items: center;
      margin-bottom: 4px;
      font-weight: 400; 
      font-size: 12px; 
      line-height: 1.17;
      letter-spacing: 0.04em;
      color: #8e8f99;
      }

      .user-checkbox-label {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 12px;
        letter-spacing: 0.04em;
        line-height: 1.17;
        color: #8e8f99;
      }

      .user-checkbox-label a{
        font-weight: 400;
        font-size:  12px;
        line-height: 1.17;
        text-decoration: underline;
        color: #4d5ae5;
      }

      .custom-checkbox {
        display:  inline-flex;
        justify-content: center;
        align-items: center;
        fill: transparent;
        cursor: pointer;
        width: 16px;
        height: 16px;
        border-radius: 2px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
      }
      

      .form-user-checkbox:checked+ .user-checkbox-label .custom-checkbox {
        background-color: #404bbf;;
        fill: #F4F4FD;
        border: none;
      }

      .form-comment {
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        width: 100%;
        min-height: 120px;
        resize: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        outline: none;
        padding-top: 8px;
        padding-left: 16px;
        font-size: 12px;
        letter-spacing: 0.04em;
        line-height: 1.17;
        color: rgba(46, 47, 66, 0.4);
        background-color: transparent;
        padding: 8px 16px;
        outline: transparent;
        }

        .form-comment::placeholder {
          font-weight: 400; 
          font-size: 12px;
          line-height: 1.2;
          letter-spacing: 0.04em;
          color: rgba(46, 47, 66, 0.4);
        }

        .form-wrapper-checkbox {
          margin-bottom: 24px;
        }

        .checkbox-leveler {
          margin-left: 8px;
        }

        .form-btn-submit {
          display: block;
          background-color: #4D5AE5;
          border-radius: 4px;
          padding: 16px 32px;
          min-width: 169px;
          height: 56px;
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
          border: none;
          margin-left: 46px;
          margin-right: 46px;
          transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
          font-weight: 500;
          font-size:  16px;
          line-height: 1.5;
          letter-spacing: 0.04em;
          text-align: center;
          color: #fff;
          cursor: pointer;
        }

        .modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404BBF;
  border: none;
  
}

/* tablet modal form  */
        @media screen and (min-width: 768px) {
          
.modal {
padding: 72px 24px 24px 24px;
width: 408px;
min-height: 584px;
}

.modal-text {
  width: 360px;
} 


.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404BBF;
  border: none;
  
}

.icon-close {
  stroke: #2E2F42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 


.modal-close-btn:hover .icon-close,
.modal-close-btn:focus .icon-close {
fill: #fff;
}

  .form-user-label {
display: block;
margin-bottom: 4px;
font-weight: 400; 
font-size: 12px; 
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;

}
 

.form-user-input:focus  {
  border-color: #4D5AE5;
}

.form-user-input:focus + .form-user-icon {
  fill: #4D5AE5;
}

.form-user-positioner {
  position: relative;
}

.form-comment:focus {
  border-color: #4D5AE5 ;
}

.checkbox-leveler {
  margin-left: 8px;
}



.form-btn-submit {
  margin-left: 95px;
  margin-right: 95px;
}

.form-btn-submit:hover,
.form-btn-submit:focus {
  background-color: #404BBF;
}
        }

       
/* features */


        .visually-hidden {
          position: absolute;
          width: 1px;
          height: 1px;
          margin: -1px;
          border: 0;
          padding: 0;
          white-space: nowrap;
          clip-path: inset(100%);
          clip: rect(0 0 0 0);
          overflow: hidden;
        }

        .icon-wrapper {
          display: none;
          
        }

        .features-list {
           width: 320px;
          display: flex;
          flex-direction: column;
          justify-content:center;
          gap: 72px;
          margin-top: 96px;
          margin-bottom: 96px;
        }

        .features-text {
          font-size: 16px;
          line-height: 1.5;
          letter-spacing: 0.02em;
          color: hsl(237, 12%, 30%);
        }

        .features-title {
          text-align: center;
          font-weight: 700;
          font-size: 36px;
          line-height: 1.1;
          letter-spacing: 0.02em;
          color: #2e2f42;
          margin-bottom: 8px;
        }
        
        .ftr-item {
          width: 280px;
        }   


        @media screen and (min-width: 768px) {
          .features-list {
            width: 736px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
          }

          .features-title {
            text-align: start;
          }
        }


        @media screen and (min-width: 1150px) {

          .features {
            padding:0px 0;
                      }

          
          
          
          
          .features-list {
            width: 1128px;
            display: flex;
            justify-content: space-between;
            gap: 24px;
          }
          
          
          .ftr-item {
            width: 264px;
          }
          
          .icon-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 24px;
            padding-bottom: 24px;
            margin-bottom: 8px;
            border-radius: 4px;
            background-color: #f4f4fd;
            border: 1px solid #8e8f99;
            height: 112px;
            
          }

        }



        /* TEAM */


        .team {
          max-width: 320px;
          background-color: #F4F4FD;
          padding: 0;
          margin: 0 auto;

          
        }

        .team-title {
          font-weight: 700;
          font-size: 36px;
          line-height: 1.11;
          letter-spacing: 0.02em;
          color: #2e2f42;
          text-align: center;
          text-transform: capitalize;
          margin-bottom: 72px;
        }
        
        .team-card-list {
          display: flex;
          flex-direction: column;
          gap: 24px;
        }

        .team-card {
          background-color:  #FFFFFF;
          width: 264px;
          border-radius: 0 0 4px 4px;
          box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
          margin-bottom: 72px;
        }
         .team-card-descr {
          max-width: 232px;
           padding: 32px 0;
          text-align: center;
          background-color: #fff;
          margin-top: 8px;
          margin-left: 16px;
          margin-right: 16px;
         
        } 

        .team-card-name {
          font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
        }

        .team-card-text {
          font-weight: 400;
          font-size: 16px;
          line-height: 1.5;
          letter-spacing: 0.02em;
          color: #434455;
          margin-bottom: 8px;
        }

        .smi-wrapper {
          width: 232px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 24px;
        }


        .smi-indiv-wrapper {
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .social-media-icons {
          fill: #f4f4fd
        }

        .smi-link:hover,
        .smi-link:focus {
          background-color: #404bbf;
          }
        
          @media screen and (min-width: 768px) {
            .team {
              max-width: 768px;
              margin: 0 auto;
            }
          }

          .team-card-list {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 24px;
            justify-content: center;
          }

          @media screen and (min-width: 1150px){
            .team {
              max-width: 1158px;
             
            }

            .team-card-list {
              display: flex;
              gap: 24px;
            }

          }

          /* Portfolio */


          .portfolio {
            padding: 96px 0 96px 0;
          }
          
          .title-portfolio {
            font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color:  #2e2f42;
            margin-bottom: 72px;
          }

          .title-portfolio-list {
            /* width: 288px; */
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            column-gap: 24px;
            row-gap: 48px;
          }

            /* .overlay-text {
            display: none;
            } */

            .overlay-text {
              position: absolute;
              top:0;
              left:0;
              background-color: #4D5AE5;
              height: 100%;
              width: 100%;
              transform: translateY(100%);
              padding: 40px 32px;
              background-color: #4d5ae5;
              transform: translateY(100%);
              transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
              line-height: 1.5;
              letter-spacing: 0.02em;
              color: #f4f4fd;

              
            } 

            .list-iteam-wrapper {
              position: relative;
              transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
              overflow: hidden;
            }

            
            .prtf-crd-dscr {
              border-top: none;
              padding: 32px 16px;
              border: 1px solid #e7e9fc;
              border-top: none;
            }

            .prtf-card-name {
              font-weight: 500;
              font-size: 20px;
              line-height: 1.2;
              letter-spacing: 0.02em;
              color: #2e2f42;
              margin-bottom: 8px;
            }

            .prtf-card-text {
              font-weight: 400;
              font-size: 16px;
              line-height: 1.5;
              letter-spacing: 0.02em;
              color: #434455;
            }

            .list-item {
              transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
          

            @media screen and (min-width: 768px) {
              .title-portfolio-list {
                width: 100%;
                justify-content: space-between;
              }
              
              /* .list-item:hover .overlay,
              .list-item:focus .overlay {
               transform: translateY(0%);
              transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
              }

              .list-item:hover .overlay-text {
                transform: translateY(0);
              } */
            }

            @media screen and (min-width: 1158px) {

              .list-item:hover .overlay,
              .list-item:focus .overlay {
               transform: translateY(0%);
              transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
              }

                .list-item:hover .overlay-text {
                  transform: translateY(0);
                }
                }

                .list-iteam-wrapper:hover,
                .list-iteam-wrapper:focus {
                  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
                   0px 1px 1px rgba(46, 47, 66, 0.16), 
                    0px 2px 1px rgba(46, 47, 66, 0.08);
}


            /* FOOTER */

            .footer {
              background-color: #2e2f42;
              padding: 96px 16px;
              max-width: 320px;
              margin: 0 auto;
            }

            .footer .container {
            padding: 0;
             
            }

            .footer .logo {
              display: block;
              margin-bottom: 16px;
              margin-left: 86px;
              margin-right: 86px;
            }

            .logo-web-ftr {
              color: #f4f4fd;
            }

            .footer-text {
              font-weight: 400;
              font-size: 16px;
              line-height: 1.5;
              color: #F4F4FD;
              letter-spacing: 0.02em;
              max-width: 288px;
            }

            .smi-text {
              font: 500 16px / 1.5;
              letter-spacing: 0.02em;
              color: #fff;
              margin: 72px 96px 16px 96px;
            }


            .smi-wrapper-ftr {
              display: flex;
              gap: 16px;
              width: 208px;
              margin: 16px 40px 72px 40px;
            }

            .smi-link-ftr {
              display: flex;
            width: 100%;
            height: 100%;
             justify-content: center;
            align-items: center;
            background-color: #4d5ae5;
            border-radius: 50%;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }

            .smi-link-ftr:hover,
            .smi-link-ftr:focus {
            background-color:#31D0AA;;
            }
 
           
            .ftr-sbscr-form {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 24px
            } 

            .ftr-sbscr-form-text {
              margin-bottom: 16px;
              font-weight: 500;
              font-size: 16px;
              line-height: 1.5;
              letter-spacing: 0.02em;
              color: #ffffff;
            }


            .sbscr-form-input {
              width: 288px;
              height: 40px;
              border: 1px solid #ffffff;
              background-color: transparent;
              font-size: 16px;
              line-height: 2;
              letter-spacing: 0.04em;
              box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
              opacity: 0.3;
             border-radius: 4px;
             color: #FFFFFF;
             margin: 0 auto;
             padding: 16px;
            }

            .sbscr-form-input::placeholder {
              color: #FFFFFF;
              
            }

            

            .sbscr-btn {
              min-width: 165px;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
            
              background-color: #4D5AE5;
              border-radius: 4px;
              padding: 8px 24px;
              height: 40px;
              
              
              border: none;
              transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            
              font-weight: 500;
              font-size:  16px;
              line-height: 1.5;
              letter-spacing: 0.04em;
              text-align: center;
              color: #fff;
              cursor: pointer;
            }
            
            
            .ftr-sbscr-icon {
              fill: #FFFFFF;
              margin-left: 16px;
            }



              .ftr-logo-wrap {
                max-width: 264px;
                margin-right: 24px;
              }

              .smi-wrapper-ftr {
                display: flex;
                gap: 16px;
                width: 208px;
                margin: 16px 40px 72px 40px;
                margin-right: 0;
                margin-left: 0;
              }

              .smi-footer {
                max-width: 208px;
                padding: 0; 
              }

              .smi-text {
                margin: 0;
                text-align: start
              }

              .ftr-sbscr-form-wrpr {
                max-width: 496px;
             
              }

              /* .sbscr-form-input {
                width: 264px;
              } */

              .ftr-sbscr-form {
                display: flex;
                
                align-items: center;
                gap: 24px
            }

            @media screen and (min-width: 768px) {
              .footer {
                padding: 96px 164px 96px 108px;
                max-width: 768px;
                
              }

              .footer .container {
                display: flex;
                flex-wrap: wrap;
                 
                }

                .ftr-sbscr-form {
                  display: flex;
                  flex-direction: row;
                  gap: 24px;
                }

                .footer .logo {
                  margin-left: 0;;
                }

                .sbscr-form-input {
                  max-width: 264px;
                }
              
            }

            @media screen and (min-width: 1158px) {
              .footer {
                padding: 100px 156px;
                max-width: 100%;
              }
              
              .ftr-logo-wrap {
                margin-right: 120px;
                max-height: 112px;
              }
              .footer .container {
                max-height: 112px;
              }

              .ftr-sbscr-form-wrpr {
                margin-left: 80px;
             
              }
            }
  
  


        